<main class="position-relative workshop">
  <div class="main_content pt-50">
  <!--archive header-->
  <div class="page-header text-center">
      <div class="container">
          <h2><span class="colorMind">Workshop</span></h2>
          <div class="breadcrumb">
            <%= link_to "Home", root_path, rel: "nofollow" %>
              <span></span>
              Workshop
          </div>
          <div class="bt-1 border-color-1 mt-30 mb-50"></div>
      </div>
  </div>
  <!--main content-->
  <div class="main_content sidebar_right pb-50">
      <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-30">
              <p>MinD Mad in Design è un’associazione culturale nata a Torino nel 2019 che opera in risposta a situazioni di disagio ed emarginazione nell’ambito della fragilità mentale proponendo progetti creativi, multidisciplinari e inclusivi nell’ambito delle discipline creative.<br/>
                <br/>
                Dal 2014 MinD realizza progetti che agiscono su due aspetti del design: da un lato il progetto come strumento di trasformazione in chiave migliorativa del contesto, dall’altro il processo creativo come sistema di relazioni che si traducono in pratiche di inclusione sociale e riabilitazione. Attraverso la partecipazione diretta di studenti e persone seguite dai servizi di salute mentale, MinD è il luogo dove sperimentare e verificare i risultati anche clinici di una cultura del design intesa come processo creativo.<br/>
                <br/>
                La dimensione partecipativa del design lo rende un efficace strumento di inclusione sociale, generatore di relazioni mirate a valorizzare l’altro, e prezioso alleato della strategia riabilitativa.
              </p>
            </div>
              <div class="col-lg-6 col-md-9 col-sm-12 mb-30">
                <!--loop-list-->
                <div class="loop-list loop-list-1">
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background2 color-white">Fashion</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background5"><i class="mdi mdi-favorite"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background3 color-white">Technology</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">Why Teamwork Really Makes The Dream Work</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Sport</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">At the Emmys, broadcast scripted shows created by people of color gained ground relative to those pitched by White show creators, while broadcast scripted shows.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background2 color-white">Fashion</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background5"><i class="mdi mdi-favorite"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background3 color-white">Technology</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">Why Teamwork Really Makes The Dream Work</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
                                </div>
                                <ul class="social-share">
                                    <li><a href="#"><i class="ti-sharethis"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Sport</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">At the Emmys, broadcast scripted shows created by people of color gained ground relative to those pitched by White show creators, while broadcast scripted shows.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--pagination-->
                <div class="pagination-area pt-30 text-center bt-1 border-color-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item"><a class="page-link" href="#"><i class="flaticon-left"></i> </a></li>
                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i class="flaticon-right"></i> </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 primary-sidebar sticky-sidebar">
                  <div class="widget-area">
                    <!--Widget categories-->
                    <div class="sidebar-widget widget_categories mb-50">
                      <div class="widget-header position-relative mb-20 pb-10">
                        <h5 class="widget-title mb-10">Anni</h5>
                        <div class="bt-1 border-color-1"></div>
                      </div>
                      <div class="post-block-list post-module-1 post-module-5">
                        <ul>
                          <li class="cat-item cat-item-2"><a href="category.html">Beauty</a> (3)</li>
                          <li class="cat-item cat-item-3"><a href="category.html">Book</a> (6)</li>
                          <li class="cat-item cat-item-4"><a href="category.html">Design</a> (4)</li>
                          <li class="cat-item cat-item-5"><a href="category.html">Fashion</a> (3)</li>
                          <li class="cat-item cat-item-6"><a href="category.html">Lifestyle</a> (6)</li>
                          <li class="cat-item cat-item-7"><a href="category.html">Travel</a> (2)</li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</main>
