<footer class="position-relative">
  <div class="container mb-30">
    <%= render 'shared/sostenitori' %>
    <div class="row mt-30">
      <div class="col-md-6">
        <h6>© MIND - Mad in Design <%= Time.now.year %></h6>
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li><%= link_to "Privacy & Cookies", privacy_cookie_policy_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
