<header class="main-header header-style-2">
    <div class="top-bar d-none d-md-block">
        <div class="container">
            <div class="topbar-inner pt-10 pb-10">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-right">
                      <ul id="navigation" class="main-menu">
                          <li><a href="#">Sostienici</a></li>
                          <li><a href="#">Diventa Socio</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top bar-->

    <div id="sticker" class="header-bottom header-sticky background-white text-center">
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="header-logo">
                        <a href="index.html">
                            <%= image_tag "logo_Mind_Mad-in-Design.png", alt: "MIND - Mad in Design", class: "logo-img d-inline" %>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <div class="logo-tablet d-md-inline d-lg-none d-none">
                        <a href="index.html">
                            <%= image_tag "logo_Mind_Mad-in-Design.png", alt: "MIND - Mad in Design", class: "logo-img d-inline" %>
                        </a>
                    </div>
                    <div class="logo-mobile d-inline d-md-none">
                        <a href="index.html">
                            <%= image_tag "logo_Mind_Mad-in-Design.png", alt: "MIND - Mad in Design", class: "logo-img d-inline" %>
                        </a>
                    </div>

                    <!-- Main-menu -->
                    <div class="main-nav text-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation" class="main-menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">People</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">Progetti</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
