<main class="position-relative">

    <!--Featured post Start-->
    <div class="home-banner" style="background-image: linear-gradient(180deg, rgba(239, 120, 90, 0) 0%, #EF785A 100%), url(<%= image_path 'youssef-naddam-iJ2IG8ckCpA-unsplash_color.jpg'%>)">
        <div class="banner-text">
          <h4 class="title-label">MinD - Mad in Design</h4>
          <h1>Design, Psichiatria e inclusione.</h1>
          <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        </div>
    </div>
    <!--Featured post End-->

    <!-- Recent Posts Start -->
    <div class="pt-50 pb-50 background-white">
        <div class="container mb-50">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-3 col-md-3">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mb-30 text-uppercase colorMind font-weight-ultra">Attività recenti</h5>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <!--Tab Nav  -->
                            <nav class="tab-nav style-1">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="mr-5 ti-pulse"></i>All</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Lifestyle</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Travel</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Fashion</a>
                                    <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab" aria-controls="nav-contact" aria-selected="false">Sports</a>
                                </div>
                            </nav>
                            <!--End Tab Nav  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Tab content -->
                            <div class="tab-content" id="nav-tabContent">
                                <!-- Tab one -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="block-tab-item post-module-2 post-module-1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="post-block-style">
                                                    <div class="post-thumb position-relative thumb-overlay mb-15">
                                                        <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                            <a class="img-link" href="single.html"></a>
                                                            <div class="post-content-overlay entry-meta meta-0 font-small transition-ease-04"><a href="category.html"><span class="post-cat background1 color-white">Fashion</span></a></div>
                                                            <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <h4 class="post-title">
                                                            <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                                        </h4>
                                                        <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                                            <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                            <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                            <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                                        </div>
                                                        <p class="font-medium d-none d-lg-block">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                                            <a href="single.html">
                                                                <img src="http://via.placeholder.com/900x630" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <h6 class="post-title mb-10 text-limit-2-row">The litigants on the screen are not actors </h6>
                                                            <div class="entry-meta meta-1 font-x-small color-grey">
                                                                <span class="post-on">25 April</span>
                                                                <span class="hit-count has-dot">126k Views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                                            <a href="single.html">
                                                                <img src="http://via.placeholder.com/900x630" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <h6 class="post-title mb-10 text-limit-2-row">Not a bit of hesitation, you better think twice</h6>
                                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                <span class="post-on">25 April</span>
                                                                <span class="hit-count has-dot">126k Views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 sm-grid-content">
                                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                                            <a href="single.html">
                                                                <img src="http://via.placeholder.com/900x630" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <h6 class="post-title mb-10 text-limit-2-row">We got a right to pick a little fight, Bonanza </h6>
                                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                <span class="post-on">25 April</span>
                                                                <span class="hit-count has-dot">126k Views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 sm-grid-content">
                                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                                            <a href="single.html">
                                                                <img src="http://via.placeholder.com/900x630" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <h6 class="post-title mb-10 text-limit-2-row">My entrance exam was on a book of matches </h6>
                                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                <span class="post-on">25 April</span>
                                                                <span class="hit-count has-dot">126k Views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab two -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="block-tab-item post-module-1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="post-block-style">
                                                    <div class="post-thumb position-relative thumb-overlay mb-15">
                                                        <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                            <a class="img-link" href="single.html"></a>
                                                            <div class="post-content-overlay entry-meta meta-0 font-small transition-ease-04"><a href="category.html"><span class="post-cat background1 color-white">Fashion</span></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <h4 class="post-title">
                                                            <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                                        </h4>
                                                        <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                                            <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                            <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                            <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                                        </div>
                                                        <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="post-block-list">
                                                    <ul class="list-post">
                                                        <li class="mb-30">
                                                            <div class="d-flex">
                                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                                    <a href="single.html">
                                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="post-content media-body">
                                                                    <div class="entry-meta meta-0 mb-5">
                                                                        <a href="category.html"><span class="post-in color5 font-small pl-0">World</span></a>
                                                                    </div>
                                                                    <h6 class="post-title mb-10 text-limit-2-row">Traveling Tends to Magnify All Human Emotions</h6>
                                                                    <div class="entry-meta meta-1 font-x-small color-grey">
                                                                        <span class="post-on">25 April</span>
                                                                        <span class="hit-count has-dot">26k Views</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-30">
                                                            <div class="d-flex">
                                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                                    <a href="single.html">
                                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="post-content media-body">
                                                                    <div class="entry-meta meta-0 mb-5">
                                                                        <a href="category.html"><span class="post-in color2 font-small pl-0">Films</span></a>
                                                                    </div>
                                                                    <h6 class="post-title mb-10 text-limit-2-row">The Luxury Of Traveling With Yacht</h6>
                                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                        <span class="post-on">25 April</span>
                                                                        <span class="hit-count has-dot">37k Views</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-30">
                                                            <div class="d-flex">
                                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                                    <a href="single.html">
                                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="post-content media-body">
                                                                    <div class="entry-meta meta-0 mb-5">
                                                                        <a href="category.html"><span class="post-in color3 font-small pl-0">Travel</span></a>
                                                                    </div>
                                                                    <h6 class="post-title mb-10 text-limit-2-row">Last Minute Festive Packages From Superbreak</h6>
                                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                        <span class="post-on">25 April</span>
                                                                        <span class="hit-count has-dot">54k Views</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-30">
                                                            <div class="d-flex">
                                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                                    <a href="single.html">
                                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="post-content media-body">
                                                                    <div class="entry-meta meta-0 mb-5">
                                                                        <a href="category.html"><span class="post-in color4 font-small pl-0">Beauty</span></a>
                                                                    </div>
                                                                    <h6 class="post-title mb-10 text-limit-2-row">Less Is More: Diving into Minimalism in Photography</h6>
                                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                                        <span class="post-on">25 April</span>
                                                                        <span class="hit-count has-dot">126k Views</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab three -->
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="block-tab-item post-module-1">
                                        <div class="row mb-30">
                                            <div class="col-md-6">
                                                <div class="post-thumb position-relative thumb-overlay">
                                                    <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 align-center-vertical">
                                                <div class="post-content">
                                                    <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Fashion</span></a></div>
                                                    <h4 class="post-title">
                                                        <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                                    </h4>
                                                    <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                                        <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                        <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                        <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                                    </div>
                                                    <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently on the market won’t stop actress and singer Jennifer Lopez from expanding her property collection.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row list-post">
                                            <div class="col-md-6 d-flex mb-30">
                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                    <a href="single.html">
                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-content media-body">
                                                    <div class="entry-meta meta-0 mb-5">
                                                        <a href="category.html"><span class="post-in color5 font-small pl-0">World</span></a>
                                                    </div>
                                                    <h6 class="post-title mb-10 text-limit-2-row">Traveling Tends to Magnify All Human Emotions</h6>
                                                    <div class="entry-meta meta-1 font-x-small color-grey">
                                                        <span class="post-on">25 April</span>
                                                        <span class="hit-count has-dot">26k Views</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex mb-30">
                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                    <a href="single.html">
                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-content media-body">
                                                    <div class="entry-meta meta-0 mb-5">
                                                        <a href="category.html"><span class="post-in color2 font-small pl-0">Films</span></a>
                                                    </div>
                                                    <h6 class="post-title mb-10 text-limit-2-row">The Luxury Of Traveling With Yacht</h6>
                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                        <span class="post-on">25 April</span>
                                                        <span class="hit-count has-dot">37k Views</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex">
                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                    <a href="single.html">
                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-content media-body">
                                                    <div class="entry-meta meta-0 mb-5">
                                                        <a href="category.html"><span class="post-in color3 font-small pl-0">Travel</span></a>
                                                    </div>
                                                    <h6 class="post-title mb-10 text-limit-2-row">Last Minute Festive Packages From Superbreak</h6>
                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                        <span class="post-on">25 April</span>
                                                        <span class="hit-count has-dot">54k Views</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex">
                                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                    <a href="single.html">
                                                        <img src="http://via.placeholder.com/500x500" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-content media-body">
                                                    <div class="entry-meta meta-0 mb-5">
                                                        <a href="category.html"><span class="post-in color4 font-small pl-0">Beauty</span></a>
                                                    </div>
                                                    <h6 class="post-title mb-10 text-limit-2-row">Less Is More: Diving into Minimalism in Photography</h6>
                                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                        <span class="post-on">25 April</span>
                                                        <span class="hit-count has-dot">126k Views</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab four -->
                                <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                                    <div class="block-tab-item post-module-1">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background1 color-white">Travel</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">50 Years After The Moon Landing: How Close Is Space Travel, Really?</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background2 color-white">Cook</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">Tesla’s Cooking Up A New Way To Wire Its Cars, Report Says</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background3 color-white">News</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background4 color-white">Wildlife</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">African Nations Are Struggling To Save Their Wildlife</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background5 color-white">World</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="post-thumb position-relative mb-30">
                                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                                                        <a class="img-link" href="single.html"></a>
                                                        <div class="post-content-overlay">
                                                            <div class="entry-meta meta-0 font-small mb-10">
                                                                <a href="category.html"><span class="post-cat background7 color-white">Travel</span></a>
                                                            </div>
                                                            <h6 class="post-title">
                                                                <a class="color-white" href="single.html">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                                                            </h6>
                                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                                <span class="post-on">02 Jan</span>
                                                                <span class="hit-count has-dot">23k Views</span>
                                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab five -->
                                <div class="tab-pane fade" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
                                    <div class="row">
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">Sony Laptops Are Still Part Of The Sony Family</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">02 Jan</span>
                                                <span class="hit-count has-dot">23k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">Get The Boot A Birds Eye Look Into Mcse Boot Camps</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">03 Jan</span>
                                                <span class="hit-count has-dot">13k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">Overcome The Feeling Of Being Overwhelmed</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">04 Jan</span>
                                                <span class="hit-count has-dot">33k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">3 Simple Tips For Using Sports To Get Ahead Your Competition</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">05 Jan</span>
                                                <span class="hit-count has-dot">43k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">06 Jan</span>
                                                <span class="hit-count has-dot">53k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="slider-single col-md-4 mb-30">
                                            <div class="img-hover-scale border-radius-5">
                                                <a href="single.html">
                                                    <img class="border-radius-5" src="http://via.placeholder.com/500x500" alt="post-slider">
                                                </a>
                                            </div>
                                            <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                                <a href="single.html">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                                            </h6>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">07 Jan</span>
                                                <span class="hit-count has-dot">63k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tab content-->

                        </div>
                    </div>
                    <%= render 'shared/sostenitori' %>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 primary-sidebar sticky-sidebar">
                    <div class="widget-area theiaStickySidebar row">
                        <!-- Social Network -->
                        <div class="sidebar-widget widget-social-network mb-30 col-lg-12 col-md-6">
                            <div class="title_style_1">
                                <h5 class="widget-title mt-5 mb-30">Follow Us</h5>
                                <div class="social-network">
                                    <div class="follow-us d-flex align-items-center">
                                        <a class="follow-us-facebook clearfix mr-5 mb-10" href="#" target="_blank">
                                            <div class="social-icon">
                                                <i class="ti-facebook mr-5 v-align-space"></i>
                                                <i class="ti-facebook mr-5 v-align-space nth-2"></i>
                                            </div>
                                            <span class="social-name">Facebook</span>
                                            <span class="social-count counter-number">65</span><span class="social-count">K</span>
                                        </a>
                                        <a class="follow-us-twitter clearfix ml-5 mb-10" href="#" target="_blank">
                                            <div class="social-icon">
                                                <i class="ti-twitter-alt mr-5 v-align-space"></i>
                                                <i class="ti-twitter-alt mr-5 v-align-space nth-2"></i>
                                            </div>
                                            <span class="social-name">Twitter</span>
                                            <span class="social-count counter-number"> 75</span><span class="social-count">K</span>
                                        </a>
                                    </div>
                                    <div class="follow-us d-flex align-items-center">
                                        <a class="follow-us-instagram clearfix mr-5 mb-10" href="#" target="_blank">
                                            <div class="social-icon">
                                                <i class="ti-instagram mr-5 v-align-space"></i>
                                                <i class="ti-instagram mr-5 v-align-space nth-2"></i>
                                            </div>
                                            <span class="social-name">Instagram</span>
                                            <span class="social-count counter-number"> 32</span><span class="social-count">K</span>
                                        </a>
                                        <a class="follow-us-youtube clearfix ml-5 mb-10" href="#" target="_blank">
                                            <div class="social-icon">
                                                <i class="ti-youtube mr-5 v-align-space"></i>
                                                <i class="ti-youtube mr-5 v-align-space nth-2"></i>
                                            </div>
                                            <span class="social-name">Youtube</span>
                                            <span class="social-count counter-number"> 29</span><span class="social-count">K</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ads -->
                        <div class="sidebar-widget widget-ads mb-30  col-lg-12 col-md-6 align-center-vertical">
                            <a href="https://vimeo.com/333834999" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                <img src="http://via.placeholder.com/432x336" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
