<div class="main_content sidebar_right mt-30">
    <div class="container pt-50 pb-50">
      <%= render 'shared/graphical-elements' %>
        <div class="row">
            <div class="col-12 col-lg-4">
              <h3 class="mb-30">Non esitare a contattarci per maggiori informazioni.</h3>
              <p class="mb-30">
              <strong>Tel:</strong> <a href="tel:+390116939393" target="_blank">+39 011 693 9393</a><br/>
              <strong>Email:</strong> <a href="mailto:info@madindesign.com" target="_blank">info@madindesign.com</a><br/>
              </p>
            </div>
            <div class="col-12 col-lg-1"></div>
            <div class="col-12 col-lg-7 ">
                <h1 class="mb-30">Lascia un messaggio</h1>
                <%= render "shared/contact-form" %>
            </div>
        </div>
        
    </div>
</div>
