<div class="main_content sidebar_right mt-30 mb-100">
  <div class="container pt-50 pb-50">
    <%= render 'shared/graphical-elements' %>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="confirmation-message-container mt-90 d-flex align-items-center justify-content-center">
          <div class="text-center">
            <h2>Messaggio inviato con successo</h2>
            <p class="mb-30">Cercheremo di rispondere nel più breve tempo possibile.</p>
            <%= link_to "Torna alla Homa Page", root_path, class: "button button-contactForm background1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
