* {
  box-sizing: border-box;
}

.page {
  margin-top: 150px;
  transition: marginTop 0.2s ease;
}

.home-banner {
  position: relative;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;

  .banner-text {
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 400;
    }

    * {
      color: #fff;
    }

    p {
      font-weight: 300;
    }

    .subtitle {
      margin-top: 20px;
      max-width: 500px;
    }
  }
}

.thumb-img {
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.font-light {
  font-weight: 300;
}

.quick-links .nav-item.nav-link {
  position: relative;
  display: flex;
  align-items: center;

  &:hover * {
    color: #fff;
    stroke: #fff;
  }

  &:first-of-type::after {
    content: '';
    height: 10px;
    width: 1px;
    background-color: #000;
    position: absolute;
    opacity: 0.3;
    right: -3px;
    transform: rotate(20deg);
  }
}

span.link-arrow {
  margin-left: 6px;
}

.sticky-box {
  position: sticky;
  top: 190px;
}

.box-round-shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.sidebar-widget {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.home .sidebar-widget {
  text-align: center;
}

.big-card {
  border-radius: 12px;
  overflow: hidden;

  &.bg-yellow {
    background-color: $yellow;
  }
  &.bg-orange {
    background-color: $orange;
    p,a,svg path {
      color: #fff;
      stroke: #fff;
    }
  }
  &.bg-blue {
    background-color: $blue;
    p,a,svg path {
      color: #fff;
      stroke: #fff;
    }
  }

  .card-img-bg {
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }

  .card-label {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    font-weight:bold;
    padding: 6px;
    margin: 10px;
  }
}

.card-content-area {
  p {
    color: $black;
  }
  a {
    margin-top: 10px;
    padding: 6px 0;
    display: inline-block !important;
    transition: all 0.2s ease;
    font-weight: bold;
    line-height: 100%;

    &:hover {
      color: var(--red);
      * {
        stroke: var(--red) !important;
      }
    }
  }
}

.people .tab-content {
  min-height: 400px;
}

.name_initials {
  font-weight: bold;
  opacity: 0.3;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.grid_img_box {
  width: 100%;
  height: 200px;

  img {
    max-width: 200px;
    max-height: 180px;
  }
}

a.selected {
  font-weight: bold;
}

.workshop {
  h3 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    line-height: 100%;
    margin: 0;
  }

  .sidebar-widget {
    padding: 0;
  }

  .post-thumb .social-share li {
    margin: 0;
  }

  .post-thumb .social-share li a {
    background-color: $yellow;

    i {
      color: #000;
    }
  }

  .post-thumb .social-share {
    right: 20px;
    bottom: 22px;
  }
}

.p-show .slider-single {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel {
  max-height: 300px;

  * {
    max-height: 300px !important;
  }
  .carousel-item {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 300px;

  }
  img {
    margin: 0 auto;
    height: 100%;
    max-height: 300px;
    width: auto !important;
  }
}


.about .row {
  width: 100%;
}
