.people-img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.people-role {
  min-height: 40px;
}

.people-description {
  line-height: 130%;
  font-weight: 100;
}
