.sostenitori {
  // margin-top: 20px;

  .group {
    padding-bottom: 30px;
  }

  h5 {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.img-grid {
  display: grid;
  row-gap: 30px;
  column-gap: 10px;

  &.x1 {
    grid-template-columns: 1fr;
  }
  &.x2 {
    grid-template-columns: 1fr 1fr;
  }
  &.x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.x5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.sostenitori .img-grid img {
  max-height: 55px;
  max-width: 130px;
}

.people .img-grid {
  row-gap: 30px;
  column-gap: 30px;

  img {
    max-height: 200px;
    max-width: 230px;
  }
}
